.msg_box{
    position:fixed;
    bottom:-5px;
    width:250px;
    background:white;
    border-radius:5px 5px 0px 0px;
}

.msg_head{
    background:black;
    color:white;
    padding:8px;
    font-weight:bold;
    cursor:pointer;
    border-radius:5px 5px 0px 0px;
}

.msg_body{
    list-style: none;
    background:white;
    height:200px;
    font-size:12px;
    padding:15px;
    overflow:auto;
    overflow-x: hidden;
}
.msg_input{
    width:100%;
    height: 55px;
    border: 1px solid white;
    border-top:1px solid #DDDDDD;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.close{
    float:right;
    cursor:pointer;
}
.minimize{
    float:right;
    cursor:pointer;
    padding-right:5px;

}

.msg-left{
    color: black;
    position:relative;
    background:#e2e2e2;
    padding:5px;
    min-height:10px;
    margin-bottom:5px;
    margin-right:10px;
    border-radius:5px;
    word-break: break-all;
}

.msg-right{
    background:#d4e7fa;
    padding:5px;
    min-height:15px;
    margin-bottom:5px;
    position:relative;
    margin-left:10px;
    border-radius:5px;
    word-break: break-all;
}
