html,body {
    padding-top: 3%;
    height: 100%;
    background-color: #251a36;

}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    margin: 20px auto;
    color: #dbdbdb;
    text-rendering: optimizeLegibility;
}
@media (max-width: 979px) {
    body {
        padding-top: 15%;
    }
}
h1{
    color:#ffffff;
}
h2{
    color:#ffffff;
}
p{
    color:#ffffff;
}

hr {
    display: block;
    position: relative;

    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 99%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #5b5b5c;
}
input, select, button, textarea {
    color: #ffffff;
    background-color: #161f27;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.main-page{
    padding-left: 60px;
}
/*icon styling*/
.fa-star{
    color: yellow;
}
.fa-thumbs-up{
    color:#2196f3;
}

.fa-thumbs-down{
    color:#9E9E9E;
}

p.series-name{
    display:inline;
    color: #ffffff;
}
h3.genre{
    color: #ffffff;
}

a {
    color: #927CBF;
}
/*.add-btn-group button{*/

/*    background-color: deepskyblue;*/
/*    border: 1px solid blue;*/
/*    color: white;*/
/*    padding: 10px 24px;*/
/*    cursor: pointer;*/
/*    float: none;*/
/*    width:50%;*/
/*}*/

/*.add-btn-group button:not(:last-child) {*/
/*    border-right: none; !* Prevent double borders *!*/
/*}*/

/*.add-btn-group:after{*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/

/*.add-btn-group button:hover{*/
/*    background-color: blue;*/

/*}*/
/*.wrapper {*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/

/*#sidebar {*/
/*    min-width: 250px;*/
/*    max-width: 250px;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100vh;*/
/*    z-index: 9999;*/
/*    background: slategrey;*/
/*    color: #fff;*/
/*    transition: all 0.3s;*/
/*}*/
/*#sidebar.active {*/
/*    margin-left: -250px;*/
/*}*/

/*start comment box css*/
/* CSS Test begin */
.comment-box {
    margin-top: 30px !important;
}
/* CSS Test end */

.comment-box img {
    width: 50px;
    height: 50px;
}
.comment-box .media-left {
    padding-right: 10px;
    width: 65px;
}
.comment-box .media-body p {
    border: 1px solid #ddd;
    padding: 10px;
}
.comment-box .media-body .media p {
    margin-bottom: 0;
}
.comment-box .media-heading {
    background-color: #f5f5f5;
    color: darkslategrey;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
}
.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}
/*end comment box css*/
