<!DOCTYPE html>

<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add New Content</title>
<!--    <style>-->
<!--        .add-btn-group button{-->
<!--            background-color: #444444;-->
<!--            font-size: 40px;-->
<!--            font-family: Verdana;-->
<!--            height: 200px;-->
<!--            border: 1px solid #444444;-->
<!--            color: white;-->
<!--            cursor: pointer;-->
<!--            float: none;-->
<!--            alignment: center;-->
<!--            width: 100%;-->
<!--            border-radius: 5px;-->


<!--        }-->

<!--        .add-btn-group button:not(:last-child) {-->
<!--            border-right: none; /* Prevent double borders */-->
<!--        }-->

<!--        .add-btn-group:after{-->
<!--            content: "";-->
<!--            clear: both;-->
<!--            display: table;-->
<!--        }-->

<!--        .add-btn-group button:hover{-->
<!--            background-color: #686868;-->
<!--            -webkit-transition: background-color 1000ms linear;-->
<!--            -ms-transition: background-color 1000ms linear;-->
<!--            transition: background-color 1000ms linear;-->
<!--            font-size: 50px;-->
<!--        }-->
<!--        small{-->
<!--            font-size: 10px;-->
<!--        }-->

<!--    </style>-->
</head>
<body>

<div>

    <div layout:fragment = "content">
        <div class = "container">
        <div class="card mx-auto mt-5" style ="background-color:#e6e6ff">
        <div class = "card-header text-center" style = "color: darkslategrey">Add New Content</div>
            <div class = "card-body">
        <p class = "text-center" style = "color: darkslategrey">Choose one of the following options</p>
        <form method="GET">
            <div class= "add-btn-group text-center">
                <a class = "btn btn-primary"  th:href="@{/newseries}">Create a New Comic Series<br><small>(Start fresh with a brand new series!)</small></a>
                <a class = "btn btn-primary"  th:href="@{/profile}">Edit an Existing Comic Series<br><small>(Add/edit books and pages in your series!)</small></a>
            </div>
        </form>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>

    </div>
</div>
