<!DOCTYPE html>

<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Edit Series</title>
<body>
<div layout:fragment = "content">
    <div clas = "container" style="margin-left: 9%">
        <div id="books" style="margin-top: 15px">
            <div th:each="book : ${books}">
                <a style="font-size: 20px; font-family: 'Roboto'" th:href="@{'/editbook?series='+${book.getSeriesID()}+'&book='+${book.bookID}}">
                    <p th:text="${book.bookName} "></p>
                </a>
            </div>
        </div>

        <br><br>
        <p>Add New Book</p>
        <form method="POST" th:action="@{/addcomicbook}">
            <p>Comic Book Name: <input type="text" id="book" name="book"/></p><br>
            <input type="hidden" id="series" name="series" th:value="${seriesID}"/><br>
            <h5>Cover Art URL: <input type="text" id="book-cover-art" name="book-cover-art"/></h5><br>
            <input type="submit" value="Add book"/>
        </form>

    </div>


</div>

</body>