<!DOCTYPE html>

<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit Books</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/carousel.css}" href="../static/css/carousel.css"/>
</head>

<body>
<div layout:fragment = "content">
    <div id="books">
        <div th:each="page,i : ${pages}">

            <a style="font-size: 20px; font-family: STENCIL" th:href="@{'/edit?series='+${seriesID}+'&book='+${bookID}+'&page='+${i.index+1}}">

                <p th:text="${(i.index+1)}"></p>
            </a>
        </div>
    </div>

    <form method="POST" th:action="@{/addcomicbookpage}">
        <input type="hidden" id="series" name="series" th:value="${seriesID}"/><br>
        <input type="hidden" id="book" name="book" th:value="${bookID}"/><br>
        <input type="submit" class = "text-center" value="Add Page"/>
    </form>

</div>
<!-- /.content-wrapper -->
</body>

</html>
