<!DOCTYPE html>

<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Raid Comics</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/carousel.css}" href="../static/css/carousel.css"/>
</head>

<body>
<div layout:fragment = "content">
      <div class="container main-page">
          <div class = "row" style = "overflow-x:hidden;">
          <h3 class = "genre">Action</h3>
          <div th:each="comic : ${action}" class = "row" style = "overflow-x:hidden;">
              <a th:href="@{'/viewseries?series='+${comic.seriesID}}" style = "color:#ccccff; padding-left:20px;">
              <h5 th:text="${comic.seriesName}"></h5>
              </a>
              <hr>
          </div>
          </div>
          <div class = "row" style = "overflow-x:hidden;">
              <h3 class = "genre">Adventure</h3>
              <div th:each="comic : ${adventure}" class = "row" style = "overflow-x:hidden;">
                  <a th:href="@{'/viewseries?series='+${comic.seriesID}}" style = "color:#ccccff; padding-left:20px;">
                      <h5 th:text="${comic.seriesName}"></h5>
                  </a>
                  <hr>
              </div>
          </div>
          <div class = "row" style = "overflow-x:hidden;">
              <h3 class = "genre">Mystery</h3>
              <div th:each="comic : ${mystery}" class = "row" style = "overflow-x:hidden;">
                  <a th:href="@{'/viewseries?series='+${comic.seriesID}}" style = "color:#ccccff; padding-left:20px;">
                      <h5 th:text="${comic.seriesName}"></h5>
                  </a>
                  <hr>
              </div>
          </div>
          <div class = "row" style = "overflow-x:hidden;">
              <h3 class = "genre">Comedy</h3>
              <div th:each="comic : ${comedy}" class = "row" style = "overflow-x:hidden;">
                  <a th:href="@{'/viewseries?series='+${comic.seriesID}}" style = "color:#ccccff; padding-left:20px;">
                      <h5 th:text="${comic.seriesName}"></h5>
                  </a>
                  <hr>
              </div>
          </div>
          <div class = "row" style = "overflow-x:hidden;">
              <h3 class = "genre">Fantasy</h3>
              <div th:each="comic : ${fantasy}" class = "row" style = "overflow-x:hidden;">
                  <a th:href="@{'/viewseries?series='+${comic.seriesID}}" style = "color:#ccccff; padding-left:20px;">
                      <h5 th:text="${comic.seriesName}"></h5>
                  </a>
                  <hr>
              </div>
          </div>
          <div class = "row" style = "overflow-x:hidden;">
              <h3 class = "genre">Horror</h3>
              <div th:each="comic : ${horror}" class = "row" style = "overflow-x:hidden;">
                  <a th:href="@{'/viewseries?series='+${comic.seriesID}}" style = "color:#ccccff; padding-left:20px;">
                      <h5 th:text="${comic.seriesName}"></h5>
                  </a>
                  <hr>
              </div>
          </div>
          <div class = "row" style = "overflow-x:hidden;">
              <h3 class = "genre">Romance</h3>
              <div th:each="comic : ${romance}" class = "row" style = "overflow-x:hidden;">
                  <a th:href="@{'/viewseries?series='+${comic.seriesID}}" style = "color:#ccccff; padding-left:20px;">
                      <h5 th:text="${comic.seriesName}"></h5>
                  </a>
                  <hr>
              </div>
          </div>
<!--          <div class = "row" style="overflow-x:hidden;">-->

<!--        <h3 class = "genre">Action</h3>-->
<!--          </div>-->
<!--          <div class = "row" style = "overflow-x:hidden;">-->
<!--        <div id="action" class = "card-group">-->
<!--          <div th:each="comic : ${action}" class = "card w-55">-->


<!--                <h5 class= "card-title series-name" th:text="${comic.seriesName}"></h5>-->

<!--              <p class = "card-text">-->
<!--                <i class = "fa fa-star"></i>-->
<!--                <i class="fa fa-thumbs-up" ></i>-->
<!--                <i class="fa fa-thumbs-down" ></i>-->
<!--              </p>-->
<!--              <a th:href="@{'/view?series='+${comic.seriesID}+'&book=1&page=1'}" class = "btn btn-primary"> Read </a>-->

<!--          </div>-->
<!--        </div>-->
<!--          </div>-->
<!--          <div class = "row" style="overflow-x:hidden;">-->
<!--        <h3 class = "genre">Adventure</h3>-->
<!--          </div>-->
<!--          <div class = "row" style="overflow-x:hidden;">-->
<!--        <div id="adventure">-->
<!--          <div th:each="comic : ${adventure}">-->
<!--              <span> <i class = "fa fa-star"></i>-->
<!--              <a th:href="@{'/view?series='+${comic.seriesID}+'&book=1&page=1'}">-->
<!--                <p class = "series-name" th:text="${comic.seriesName}"></p>-->
<!--              </a>-->
<!--                <i class="fa fa-thumbs-up" ></i>-->
<!--                <i class="fa fa-thumbs-down" ></i>-->
<!--              </span>-->
<!--          </div>-->
<!--        </div>-->
<!--          </div>-->
<!--          <div class = "row" style = "overflow-x:hidden;">-->
<!--        <h3 class = "genre">Mystery</h3>-->
<!--          </div>-->
<!--          <div class = "row" style="overflow-x:hidden;">-->
<!--        <div id="mystery">-->
<!--          <div th:each="comic : ${mystery}">-->
<!--              <span> <i class = "fa fa-star" ></i>-->
<!--              <a th:href="@{'/view?series='+${comic.seriesID}+'&book=1&page=1'}">-->
<!--                <p class = "series-name" th:text="${comic.seriesName}"></p>-->
<!--              </a>-->
<!--              <i class="fa fa-thumbs-up" ></i>-->
<!--              <i class="fa fa-thumbs-down" ></i>-->
<!--              </span>-->
<!--          </div>-->
<!--        </div>-->
<!--          </div>-->
    </div>
</div>
    <!-- /.content-wrapper -->
</body>

</html>
