<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Raid Comics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <!-- WEBJAR FOR BOOTSTRAP-->
<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/pulse/bootstrap.min.css"/>
    <!-- Material Design Bootstrap -->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">-->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/webjars/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css}">
    <!-- fontawesome -->

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
<!--    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" href="../static/css/chat.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>


    <!--<script src="/webjars/jquery/jquery.min.js"></script>-->
    <div sec:authorize="isAuthenticated()">
        <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
        <script type="text/javascript" th:src="@{js/chat.js}"></script>
    </div>
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" th:href="@{/}" style = "position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    margin-left: 0px;
    padding: 20px;"><img src ="https://i.imgur.com/DUbh5AC.png" style="width:150px;height:85px;"></a>

<!--        <button type = "button" class="btn btn-info" id="sidebarCollapse">-->
<!--            <i class="fas fa-align-left"></i>-->
<!--            <span>Toggle Sidebar</span>-->
<!--        </button>-->

        <!-- Navbar Search -->
        <form method="get" action="search" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input name="q" type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item">
                <!--LOGIN BUTTON-->
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link active" th:href="@{/logout}">Logout</a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a class="nav-link active" th:href="@{/login}">Login</a>
                </div>
            </li>
            <li class="nav-item">
                <!--SIGNUP BUTTON-->
                <div sec:authorize="isAuthenticated()">
                </div>
                <div sec:authorize="isAnonymous()">
                    <a class="nav-link active" th:href="@{/signup}">Register</a>
                </div>
            </li>
            <li class="nav-item">
                <a id="username" class = "nav-link active" th:href="@{/profile}" th:text ="${#authentication.name}">Anonymous</a>
            </li>
            <li class="nav-item">
                <!--SIGNUP BUTTON-->
                <a class="nav-link active" th:href="@{/add}"><span style="font-weight: bold">&#43;</span></a>
            </li>
        </ul>

    </nav>
<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <nav id="sidebar">-->
<!--        <div class="sidebar-header">-->
<!--            <h3>Bootstrap Sidebar</h3>-->
<!--        </div>-->

<!--        <ul class="list-unstyled components">-->
<!--            <p>Dummy Heading</p>-->
<!--            <li class="active">-->
<!--                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>-->
<!--                <ul class="collapse list-unstyled" id="homeSubmenu">-->
<!--                    <li>-->
<!--                        <a href="#">Home 1</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">Home 2</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">Home 3</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#">About</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>-->
<!--                <ul class="collapse list-unstyled" id="pageSubmenu">-->
<!--                    <li>-->
<!--                        <a href="#">Page 1</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">Page 2</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">Page 3</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#">Portfolio</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#">Contact</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--    </nav>-->
<!--    &lt;!&ndash; END SIDEBAR &ndash;&gt;-->
<div layout:fragment = "content"></div>
<!-- Jquery and bootstrap webjar-->
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>


    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script th:src="@{/webjars/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js}" ></script>
    <!-- Material Design Bootstrap CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/js/mdb.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            // open or close navbar
            $('#sidebar').toggleClass('active');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

    });
</script>

    <div sec:authorize="isAuthenticated()">
        <div class="msg_box" style="right:50px" rel="skp">
            <div class="msg_head">Global Chat
            </div>
            <div id="chat" class="msg_wrap">
                <ul class="msg_body">
                    <li class="msg_push"></li>
                </ul>
                <!--<div class="msg_footer"><textarea class="msg_input" rows="4"></textarea></div>-->
                <form id = "chatform">
                    <input type="text" id="message" class="form-control" placeholder="Type something here...">
                    <button id="send" class="btn btn-default" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>