<!DOCTYPE html>

<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create New Series</title>
    <style>


    </style>

</head>
<body>

<div>

    <div layout:fragment = "content">
        <h1>Create a New Comic Series</h1>
       <form method="POST" action="@{/addcomicseries}" modelAttribute="comicseries" >
           <h2>Comic Series Title: <input type="text" id="seriesName" name="seriesName"/></h2><br>
           <h2>Comic Series Category: <input type="text" id="category" name="category"/></h2><br>
           <h2>Viewable to only followers?: <input type="checkbox" id="fansOnly" name="fansOnly"/></h2><br>

           <select name= "privacyFlag">
               <option value="Public" selected>Public</option>
               <option value="Private">Private</option>
           </select><br>
            <input type="submit" value="Create" th:href="@{/comicseries}"/>
        </form>
    </div>
</div>

</body>
</html>