<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div layout:fragment = "content">
    <div class="container emp-profile">
        <form method="post">
            <div class="row">

                <div class="col-md-10">
                    <div class="profile-head">
                            <h5 th:text ="${user.getFirstname()} + ' ' + ${user.getLastname()}">First Name Last Name</h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Comics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p th:text ="${#authentication.getPrincipal().getUsername()}">Not Logged In</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label> Name </label>
                                </div>
                                <div class="col-md-6">
                                    <p th:text ="${user.getFirstname()} + ' ' + ${user.getLastname()}">First Name Last Name</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p th:text = "${user.getEmail()}">Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div th:each="comic : ${usercomics}" class="row">
                                <div class="col-md-6">
                                    <a th:href="@{'/viewseries?series='+${comic.seriesID}}">
                                        <p class = "series-name" th:text="${comic.seriesName}"></p>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!--<div class = "container-fluid">-->
<!--    <div class = "row-fluid">-->
<!--        <span class = "text-left" th:text ="${#authentication.getPrincipal().getUsername()}">Username</span>-->
<!--    </div>-->
</div>
</div>
</body>
</html>