<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>
    <div layout:fragment = "content">
        <div class = "container main-page">
            <div th:each="result : ${searchResultByName}" class = "row" style = "overflow-x:hidden;">
                <a th:href="@{'/viewseries?series='+${result.seriesID}}" style = "color:#ccccff;">
                    <h5 th:text="${result.seriesName}"></h5>
                </a>
                <hr>
            </div>
            <div th:each="result : ${searchResultByCategory}" class = "row" style = "overflow-x:hidden;">
                <a th:href="@{'/viewseries?series='+${result.seriesID}}" style = "color:#ccccff;">
                    <h5 th:text="${result.seriesName}"></h5>
                </a>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>