<!DOCTYPE html>

<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View Series</title>
    <style>


    </style>

</head>
<body>

<div>

    <div layout:fragment = "content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <img style="width:175px; height: 200px" th:src="${series.getCoverArt()}">
                </div>
                <div class="col-md-10">
                    <h2 th:text = "${seriesTitle}">
                        Title of series
                    </h2>

                    <p>
                    </p>
                </div>
            </div>

                <div class = "row" th:each = "book : ${books}">
                    <div class = "col-md-2">

                    </div>
                    <div class="col-md-10">
                    <a th:href="@{'/view?series='+${seriesID} +'&book=' + ${book.getBookID()} + '&page=1'} " style = "color:#ccccff;">
                    <h5 th:text = "${book.getBookName()}"></h5>
                    </a>
                    </div>
                </div>
        </div>

    </div>
</div>

</body>
</html>