<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>View Comic</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.6/fabric.min.js"></script>
    <script type="text/javascript" src="js/viewpage.js"></script>
</head>
<body>
    <div layout:fragment = "content" style="margin-left: 9%">
        <canvas id="view-canvas" style="width: 575px; height: 500px;">
        </canvas>

        <button id="prev" onclick="prevPage()">Previous</button><br>

        <div th:switch="${userName}">
            <a th:case="${#authentication.name}" th:href="@{'/edit?series='+${seriesID}+'&book='+${bookID}+'&page='+${pageNum}}"><button id="edit">Edit</button></a>
        </div>

        <button id="next" onclick="nextPage()">Next</button>

        <script th:inline="javascript">
            buildPage(/*[[${page}]]*/ 'default');
        </script>

        <input id="series" type="hidden" th:value="${seriesID}">
        <input id="book" type="hidden" th:value="${bookID}">
        <input id="page" type="hidden" th:value="${pageNum}">

        <div class="msg_box" style="right:320px" rel="skp">
            <div class="msg_head">Series Chat
            </div>
            <div id="series-chat" class="msg_wrap">
                <ul class="msg_body">
                    <li class="msg_push"></li>
                </ul>
                <!--<div class="msg_footer"><textarea class="msg_input" rows="4"></textarea></div>-->
                <form id = "chatform">
                    <input type="text" id="series-message" class="form-control" placeholder="Type something here...">
                    <button id="series-send" class="btn btn-default" type="submit">Send</button>
                </form>
            </div>
        </div>

<!--        <div class="container">-->
<!--            <div class = "row">-->
<!--                &lt;!&ndash; duplicate this part for new comment box &ndash;&gt;-->
<!--                <div class = "media comment-box">-->
<!--&lt;!&ndash;                    user profile picture&ndash;&gt;-->
<!--                    <div class = "media-left">-->
<!--                        <a href="#">-->
<!--                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">-->
<!--                        </a>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    end user profile picture&ndash;&gt;-->
<!--                    <div class = "media-body">-->

<!--                        &lt;!&ndash; comment username &ndash;&gt;-->
<!--                        <h4 class="media-heading">John Doe</h4>-->
<!--                        <p>This is the comment</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; end single comment box &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
    </div>
</body>
</html>